/* Styles go here */

/* CSS by: Michael Scholz */
h1 {
	color: #3399FF;
}
h2 {
	color: #3399FF;
}


body {
	background-color: white;
}

button {
    background-color:  #FFFFFF; 
    padding: 2px 4px;
    font: 16px sans-serif bold;
    border: 3px solid #000;
    border-color: #aaa #444 #444 #aaa;
    color: #3399FF
}
button:active {
	color: white;
	   background-color:   #3399FF; 
	          } /* When clicked (or clicked and held) the color of font will change */

label {
	padding-bottom: 10px;
	padding-top: 10px;
	min-width: 200px;
	text-align:center;
	color: black;
}
